<% layout('boilerplate') %>

<style>
th, td {
  padding: 3px 3px !important;
  border: 0.5px solid rgba(0, 0, 0, 0.2) !important;
}
</style>
<main>
  <div class="row">
    <form class="col s12" action="/new_admin/signup", method="POST">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" name="first_name" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text"  name="last_name" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      <!-- </div>
      <div class="row"> -->
        <div class="input-field col s6">
          <input name="email" id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <input id="organization" type="text" name="organization" class="validate">
          <label for="organization">organization</label>
        </div>
        <div class="input-field col s6">
          <input id="unit" type="text" name="unit" class="validate">
          <label for="unit">UNIT</label>
        </div>
        <div class="input-field col s6">
          <input id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s6">
          <input id="password2" name="password2" type="password" class="validate">
          <label for="password2">Confirm Password</label>
        </div>
        <div class="input-field col s6">
          <input id="project" type="text" name="project" class="validate">
          <label for="project">Project</label>
        </div>
        <div class="input-field col s3">
          <p>
            <label>
              <input type="checkbox"  name="isCp"/>
              <span>CP ?</span>
            </label>
          </p>
        </div>
        <!-- <div></div> -->
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="submit" type="submit" value="Submit" class="btn btn-primary" style="width:100%;">
        </div>
      </div>

    </form>
  </div>


</main>

<script>


</script>