<form action="/data/cmam" method="POST">
<div class="row">
        <div class="col s6 l1 m1"><p>Province</p></div>
        <div class="col s6 l2 m2"><select name="ddProvince"><option value="">Select One</option></select></div>
        <div class="col s6 l1 m1"><p>District</p></div>
        <div class="col s6 l2 m2"><select name="ddDistrict"><option value="">Select One</option></select></div>
        <div class="col s6 l1 m1"><p>Tehsil</p></div>
        <div class="col s6 l2 m2"><select name="ddTehsil"><option value="">Select One</option></select></div>
        <div class="col s6 l1 m1"><p>UC</p></div>
        <div class="col s6 l2 m2"><select name="ddUC"><option value="">Select One</option></select></div>
      </div>
      <div class="row">
        <div class="col s6 l1 m1"><p>Village</p></div>
        <div class="col s6 l2 m2"><input type="text" name="txtVillage"></div>
        <div class="col s6 l1 m1"><p>Nutrition Site</p></div>
        <div class="col s6 l2 m2"><select name="ddNutSite"><option value="">Select One</option></select></div>
        <div class="col s6 l1 m1"><p>Site Type</p></div>
        <div class="col s6 l2 m2"><input type="text" disabled></div>
        <div class="col s6 l1 m1"><p>IP Name</p></div>
        <div class="col s6 l2 m2"><select name="ddIP"><option value="">Select One</option></select></div>
      </div>
      <div class="row">
        <div class="col s6 l1 m1"><p>Project Title</p></div>
        <div class="col s6 l2 m2"><select name="ddProjectTitle"><option value="">Select One</option></select></div>
        <div class="col s6 l1 m1"><p>Project Document#</p></div>
        <div class="col s6 l2 m2"><input type="text" name="txtPD"></div>
        <div class="col s6 l1 m1"><p>Date</p></div>
        <div class="col s6 l2 m2"><input type="date" name="txtDate"></div>
        <div class="col s6 l1 m1"><p>Intervention Type</p></div>
        <div class="col s6 l2 m2"><input type="text" name="txtIntType"></div>
      </div>
