<div class="navbar-fixed hoverable">
  <nav class="white">
    <% if (!url.includes('dashboard')){%>
    <div class="container">
    <% } %>    
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><img class="acf-logo" src="/img/acf-logo.svg"></a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger right grey-text text-darken-3">
          <i class="material-icons">menu</i>
        </a>
        <% if (url.includes('dashboard')){%>
        <a href="#" data-target="slide-out" class="sidenav-trigger left  grey-text text-darken-3 hide-on-large-only">
            <i class="material-icons">dashboard</i>
          </a>  
          <% } %>         
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="/" class="grey-text text-darken-3 ">Home</a>
          </li>
          <li>
            <% if (!url === '/public/reports'){%>
              <a href="/public/reports" class="grey-text text-darken-3 ">Dashboard</a>
            
            <%}%>
          </li>
          <li>
            <a href="/contact" class="grey-text text-darken-3 ">Contact</a>
          </li>
        </ul>
      </div>
      <% if (!url.includes('dashboard')){%>
      </div>
      <% } %>
  </nav>
</div>
    <ul class="sidenav" id="mobile-nav">
        <li>
            <a href="/" class="grey-text text-darken-3">Home</a>
          </li>
          <li>
            <a href="/dashboard" class="grey-text text-darken-3">Dashboard</a>
          </li>
          <li>
            <a href="/contact" class="grey-text text-darken-3">Contact</a>
          </li>
    </ul>

