<ul id="slide-out" class="sidenav sidenav-fixed light-blue darken-4 white-text hoverable">
  <li>
    <ul class="collapsible" data-collapsible="accordion">
      <!-- <li>
        <div class="collapsible-header waves-effect waves-light">
          <i class="material-icons">input</i>Data Entry</div>
        <div class="collapsible-body">
          <ul class="light-blue darken-2">
            <li>
              <a href="/dashboard/cmam" class="white-text waves-effect waves-dark">CMAM</a>
            </li>
            <li>
              <a href="#!" class="white-text">IYCF</a>
            </li>
            <li>
              <a href="#!" class="white-text">Trainings</a>
            </li>
            <li>
              <a href="#!" class="white-text">Sessions</a>
            </li>
          </ul>
        </div>
      </li> -->
      <li>
        <div class="collapsible-header">
          <i class="material-icons">insert_chart</i>Reports</div>
        <div class="collapsible-body">
          <ul class="light-blue darken-2">
            <li>
              <a href="#!" class="white-text">Dashboard</a>
            </li>
            <li>
              <a href="#!" class="white-text">MAP</a>
            </li>
            <li>
              <a href="#!" class="white-text">CMAM Report</a>
            </li>
            <li>
              <a href="/report/screening" class="white-text">Screening</a>
            </li>
          </ul>
        </div>
      </li>
      <!-- <li>
        <div class="collapsible-header">
            <i class="material-icons">account_box</i>User Account</div>
        <div class="collapsible-body">
          <ul class="light-blue darken-2">
            <li ><a href="#!" class="white-text">Logout</a></li>
            <li ><a href="#!" class="white-text">Profile</a></li>
          </ul>
        </div>
      </li> -->
    </ul>
  </li>
</ul>
