<% layout('boilerplate') %>
<ul id="slide-out" class="sidenav sidenav-fixed">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Basic Information</div>
      <div class="collapsible-body">
        <ul class="light-blue darken-2">
          <li>
            <a href="#country" class="white-text modal-trigger" id="btn_country">Add Country</a>
          </li>
          <li>
            <a href="#base" class="white-text modal-trigger">Add Base</a>
          </li>
          <li>
            <a href="#department" class="white-text modal-trigger">Add Department</a>
          </li>
          <li>
            <a href="#project" class="white-text modal-trigger">Add Project</a>
          </li>
          <li>
            <a href="#category" class="white-text modal-trigger">Add Category</a>
          </li>
          <li>
            <a href="#item" class="white-text modal-trigger">Add Item</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">web</i>Data Entry</div>
      <div class="collapsible-body">
        <ul class="grey darken-2">
          <li>
            <a href="/warehouse/common/stockIn" class="white-text">Stock In</a>
          </li>
          <li>
            <a href="/warehouse/common/stockOut" class="white-text">Add Delivery Note</a>
          </li>
          <li>
            <a href="/warehouse/common/dnReports" class="white-text">Delivery Notes</a>
          </li>
        </ul>

      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">insert_chart</i>Reports</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>


</ul>
<main>
  <h3>imran</h3>
</main>

<% include basics %>