.slider .btn {
  margin-top: 20px;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.autocomplete-content {
  position: absolute;
  width: 100%;
  text-align: center;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.section-contact h5 {
  margin-bottom: 30px;
}

.acf-logo {
  height: 60px !important;
}

.nav-wrapper ul li a {
  font-weight: bold;
}

.my-icons {
  width: 35% !important;
}
.info-icons {
  width: 15% !important;
}
#slide-out {
  /* z-index: 0 !important; */
  margin-top: 65px !important;
  width: 200px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* main {
  flex: 1 0 auto;
} */

/* footer{
  position: absolute;
  bottom:0;
  left:0;
 } */

 @media (min-width: 995px){
  main {
    padding-left: 200px
  }
 }
